body p {
    font-family: "Sofia", sans-serif;
}
html{
    scroll-behavior: smooth;
}

.main_head {
    font-family: "Sofia", sans-serif;
    /* animation: typing 2s steps(20) infinite; */
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

body {
    width: 100%;
    min-height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.img-div {
    overflow: hidden;
}

.img-div img {
    position: relative;
    top: 0;
    animation: bounce 3s infinite;
    max-width: 100%;
}

@keyframes bounce {
    0% {
        top: 20;
    }

    50% {
        top: -10px;
    }

    100% {
        top: 0;
    }
}

.headings {
    width: fit-content;
    margin-top: 60px;
    display: inline-block;
    padding: 10px;
    /* box-shadow: 10px 10px grey; */
    border-radius: 12px;
    border-right: 3px solid #a6d0dd;
    border-left: 3px solid #a6d0dd;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .headings {
        display: block;
        margin: auto;
        padding: 20px;
    }
}

p {
    letter-spacing: 2px;
    color: #654e92;
    /* font-weight: bold; */
}

.other_headings {
    border: 1px solid black;
    width: fit-content;
    margin-top: 60px;
    display: inline-block;
    padding: 10px;
    box-shadow: 5px 5px grey;
    border-radius: 12px;
}

.social-media {
    width: 40px;
    margin: 25px 10px;
}

#contact {
    margin: 50px auto;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

#contact h3 {
    margin-bottom: 30px;
}

#contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact label {
    font-size: 1.2rem;
    /* margin-bottom: 10px; */
    display: block;
    text-align: left;
    width: 100%;
}

#contact input,
#contact textarea {
    padding: 10px;
    font-size: 1.2rem;
    margin-bottom: 20px;
    width: 100%;
    border-top: none;
    border-bottom: 2px solid #ebd8b2;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

#contact button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

#contact button[type="submit"]:hover {
    background-color: #0062cc;
}

.email_fields {
    letter-spacing: 1px;
    color: #654e92;
    /* font-weight: bold; */
}

.experience {
    width: 100%;
    padding: 35px 10%;
}

.col .contents {
    padding: 0px 30px;
    /* width: 280px; */
    margin: auto;
    width: 100%;
    border-left: 2px solid #bababa;
}

.box {
    border-radius: 10px;
}

.col .contents .box {
    position: relative;
    padding: 20px;
    border: 2px solid #eaeaea;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
}

.col .contents .box:hover {
    box-shadow: 0px 3px 12px 0px #ccc;
    border: 1px solid transparent;
}

.col .contents .box::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 24px);
    top: 0;
    background-color: #11a372;
    border: 2px solid white;
}

.positions {
    font-family: 'Ysabeau', sans-serif;
}

/* Add scrolling effect */
.container {
    opacity: 0;
    transform: translateY(50px);
    animation: slide-up 1s forwards;
  }
  
  @keyframes slide-up {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  